# **Numpy Fundamentals**

Difficulty Level **Beginner**

### Introduction to Numpy

    1) Numerical Python
    2) Developed in 2005 by Travis Oliphant
    3) Lingua Franca for data exchange
    4) ndarray - a n-dimensional array 
    5) Numpy internally stores data in contigous block of memory
    6) Fast opertaions on entire arrays
    7) Reading/Writing array data
    8) Data should be in homogeneous (Same Type)
    8) Linear Algebra Opertations

### Numpy vs List of Python
Numpy is 100 times faster than python's list. We will analyze from an example.

In [3]:
import numpy as np
numpy_list = np.arange(1000000) # returns a array by default

In [4]:
p_list = range(1000000) # returns a list by default

In [5]:
%time for i in range(0,11): result = numpy_list * 2 # where %time is a magic function of jupyter notebook

Wall time: 47 ms

In [6]:
%time for i in range(0,11): result1 = [x * 2 for x in p_list] # where %time is a magic function of jupyter notebook

Wall time: 3.04 s

### Numpy Functions/Methods

In [17]:
z = np.zeros((3,3)) # zeros function accepts one parameter of tuple e.g np.zeros((no. of rows,no. of columns)). It will make a matrix of 3x3 with all 0's of float type.

In [18]:
z

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

#### There are several other data types exist e.g Float, Integer, and String etc. Numpy can also hold the string and integer array.

In [19]:
z.dtype # dtype returns the data type of elements of numpy array

dtype('float64')

In [20]:
z.ndim # ndim returns the dimensions of numpy array

2

In [45]:
z.shape # return the rows and columns any matrix has

(3, 3)

In [47]:
o = np.ones((5,5)) # ones function accepts one parameter of tuple e.g np.ones((no. of rows,no. of columns)). It will make a matrix of 5x5 with all 1's of float type.

In [48]:
o

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [49]:
o.dtype

dtype('float64')

In [50]:
o.ndim

2

In [51]:
o.shape

(5, 5)

In [52]:
# np.arange(10) function is used to generate the numbers from 0 (it is default value if not mention) to 10 like as python's range() function.
elements = np.arange(10)
# np.arange(11,20) function is used to generate the numbers from starting point 11 to ending point 20.
elemetns1 = np.arange(11,20)
# np.arange(1,100,10) function is used to generate the numbers from starting point 0 to ending point 100 with steps 10.
elements2 = np.arange(1,100,10)

In [53]:
elements

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [54]:
elemetns1

array([11, 12, 13, 14, 15, 16, 17, 18, 19])

In [55]:
elements2

array([ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91])

In [56]:
test = np.array([range(10)]) # np.array function is used to convert the python's list into numpy array

In [57]:
test.dtype

dtype('int32')

In [66]:
np.empty((3,3), dtype=int) # Return a new array of given shape and type, without initializing entries.

array([[-394853560,        372, -406152256],
       [       372, -406152096,        372],
       [-401402576,        372, -406152016]])

### Arithmetic operations on ndarry

In [69]:
narr = np.arange(10)

In [70]:
narr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [71]:
narr * 2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [76]:
narr / 2

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5])

In [77]:
narr ** 2

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81], dtype=int32)

In [86]:
narr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [87]:
narr%2==0

array([ True, False,  True, False,  True, False,  True, False,  True,
       False])

In [88]:
narr[narr%2==0]

array([0, 2, 4, 6, 8])

In [89]:
narr[narr%2!=0]

array([1, 3, 5, 7, 9])

### Indexing and Slicing

In [90]:
new_arr = np.arange(25).reshape(5,5) # reshape() is used to change the shape() of matrix in term of rows and columns

In [91]:
new_arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])